@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav ms-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="navbar-text me-2">
                <i class="bi bi-person-circle me-1"></i>@User.Identity!.Name
            </span>
        </li>
        <li class="nav-item">
            <form class="d-inline" asp-controller="Account" asp-action="Logout" method="post">
                <button class="btn btn-sm btn-outline-light"><i class="bi bi-box-arrow-right"></i> Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-sm btn-outline-light me-2" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-sm btn-light" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>
